<div class="container">
    <div class="row">
        <div class="navigation navigation-prev" (click)="incrementClickHandler()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="navigation navigation-next" (click)="decrementClickHandler()">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
    <div class="row">
        <div class="slide" *ngIf="currentSlide$  | async as currentSlide">
            <app-intro  *ngIf="currentSlide == 'INTRO'"></app-intro>
            <app-frameworks *ngIf="currentSlide == 'FRAMEWORK'"></app-frameworks>
        </div>
    </div>
</div>
